*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  color: var(--clr-text, #ffffff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: 0.25em;
  transition: tranform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.landTitle {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.sectionTitle {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw +1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.land {
  color: white;
  text-align: center;
  padding: 15em 0;
  background-color: #222;
  @supports (background-blend-mode: multiply) {
    background-image: url(/shoe-inc-landing-page/images/1.png), radial-gradient(#999, #444);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center center;
  }
  background-image: url(/shoe-inc-landing-page/images/1.png), radial-gradient(#999, #444);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
}

.sales {
  background: #eee;
  &Items {
    display: block;
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;

    &:hover,
    &:focus {
      transform: scale(1);
      .salesDetails {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: -1;
      padding: 75% 75% 0 0;
      border-radius: 50%;
      background: #2193b0;
    }
  }

  &Details {
    opacity: 0;
    transition: opacity 250ms linear;

    span {
      display: block;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }
}

.product {
  background: radial-gradient(
    var(--clr-inner, limegreen),
    var(--clr-outer, purple)
  );
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;

  &Title {
    font-size: clamp(3rem, calc(5vw+1rem), 5.5rem);
    text-transform: uppercase;
    line-height: 1;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 0.2em ragba(#000, 0.2);
  }

  &Image {
    margin: -5em 0 0 0;
  }

  @media (min-width: 45em) {
    text-align: left;
    margin-bottom: 9em;

    &Title {
      margin: 0;
    }

    &Image {
      float: right;
      width: 45%;
      shape-outside: url(/images/2.png);
      shape-margin: 2.5em;
      margin: -5em -5em 0 0;
    }
  }
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
  .productTitle {
    color: #2f4858;
  }
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}

.land {
  --clr-accent: #faa700;
}
